.tamaño {
    font-size: clamp(1em, 7vw, 10em);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.textMenu {
    color: white;
    font-size: clamp(0.8em, 1.5vw, 10em);

}

.textFooter {

    color: white;
    font-size: clamp(0.5em, 1vw, 2em);
}