body {
    background-color: #000000;
    overflow-x: hidden;
    margin: 0;

}

.agrupar {

    width: 960px;
    background-color: #000000;
    margin: auto;
}

.divyded {

    display: flex;
    justify-content: center;
}

.nosotros {

    display: block;
    justify-content: center;
}


.menu {

    background-color: #000000;

}

.menu li {

    list-style: none;
    padding: 5px;
    display: inline-block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.menu1 {

    color: #ffffff;
    text-decoration: none;
    font-size: 20px;

}

html {

    scroll-behavior: smooth;

}

#botonArriba {

    position: sticky;
    width: 60px;
    height: 60px;
    top: 90%;
    left: 90%;

    background-color: #ffffff;
    border-radius: 50%;

}

#v {
    padding: 0px;
    margin: 0px;
    color: #000000
}

h1 {

    font-size: 110px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #ffffff;
    text-align: center;
    padding: 50px;
}

p {
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    text-align: center;

}

.publicaremosenbreve {

    display: flex;
    justify-content: center;
}



.labanda {

    background-image: url(Imagenes/Escenario.PNG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 45px;
    margin-top: 15px;
}

ul {
    display: flex;
    list-style: none;
    gap: 2.5rem;
}

.item a {
    text-decoration: none;
    width: 4.8rem;
    height: 4.8rem;
    background-color: #f0f9fe;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    border: 3px solid #f0f9fe;
    overflow: hidden;
}

.item a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    z-index: 0;
    scale: 1 0;
    transform-origin: bottom;
    transition: scale 0.5s ease;
}

.item:hover a::before {
    scale: 1 1;
}

.icon {
    font-size: 2rem;
    color: hsl(203, 92%, 8%);
    transition: 0.5s ease;
    z-index: 2;
}

.item a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
}

.item:nth-child(1) {
    --bg-color: linear-gradient(to bottom right, #f9ce34, #ee2a7b, #6228d7);
}

.item:nth-child(2) {
    --bg-color: #b60990;
}

.item:nth-child(3) {
    --bg-color: #ff0000;
}

.item:nth-child(4) {
    --bg-color: #000;
}


.nav {
    background-color: #252525;
}


.fuenteMenu {

    font-size: 30px;
    color: #ffffff;
}

.bgnav {

    background-color: #000000;
}

@media screen and (max-width: 768px) {

}